<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Pagina para crear playlists</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/Estilos.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <div th:replace="layout/plantilla :: bienvenida"></div>
        <aside th:replace="layout/plantilla :: aside"></aside>
    </body>
</html>
